<!-- Success Modal -->
<div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="user-close close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="d-flex align-items-center justify-content-between flex-column modal-body">
        <i class="cross-check-icon check far fa-check-circle fa-6x"></i>
        <h5 class="modal-title" id="modalTitle">Awesome!</h5>
        <p class="modal-text">You've been added to John Jordan's Discount Deck. Keep a look out in your inbox!</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Error Modal -->
<div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="user-close close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="d-flex align-items-center justify-content-between flex-column modal-body">
        <i class="cross-check-icon cross far fa-times-circle fa-6x"></i>
        <h5 class="modal-title" id="modalTitle">Oops.</h5>
        <p class="modal-text">Something went wrong... Double check your inputs and try again!</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="user-container">
  <div class="container full-height">
    <div class="row full-height gray-box-user">
      <div class="col-12 col-sm disappear">
      </div>

      <div class="col-12 offset-2 col-sm d-flex justify-content-center flex-column user-details">
        <div class="user-header-container">
          <h1 class="user-header">Sign up for my Discount Deck below!</h1>
          <p class="user-text">I'll send you discounts from some of your favorite brands that you can't find anywhere else. I'll also let know when the mobile app is out.</p>
        </div>
        <form id="influencer-form" class="card user-form" data-name="brianda">
          <div class="form-row">
            <div class="col-6">
              <input id="influencer-email" type="email" class="form-control user-input" placeholder="Email Address">
            </div>
            <div class="col-3">
              <select id="influencer-age" class="custom-select user-input">
                <option selected>Age</option>
      					<option>&lt; 18</option>
      					<option>18-24</option>
      					<option>25-34</option>
      					<option>35-44</option>
      					<option>45-54</option>
      					<option>55-64</option>
      					<option>65+</option>
              </select>
            </div>
            <div class="col-3">
              <select id="influencer-gender" class="custom-select user-input">
                <option selected>Gender</option>
                <option>Male</option>
                <option>Female</option>
                <option>Non-binary</option>
              </select>
            </div>
          </div>
          <div class="form-row">
            <div class="col">
              <input id="influencer-city" type="text" class="form-control user-input" placeholder="City">
            </div>
            <div class="col">
              <input id="influencer-state" type="text" class="form-control user-input" placeholder="State/Province">
            </div>
            <div class="col">
              <input id="influencer-country" type="text" class="form-control user-input" placeholder="Country">
            </div>
          </div>
          <div class="form-row">
            <div class="col">
              <button type="button" id="influencer-button" class="btn btn-block user-button">Submit</button>
            </div>
          </div>
          <div class="form-row">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="agreement-checkbox">
              <label class="custom-control-label" for="agreement-checkbox">By completing this form, you agree to receive emails from John Jordan. You can unsubscribe at any time.</label>
            </div>
          </div>
        </form>
        <div class="wrap">
            <div id="social-icons">
                <ul>
                    <li><a href="https://www.twitter.com/discountdeck"><i class="flaticon-social19"></i></a> </li>
                    <li><a href="https://www.instagram.com/discountdeck"><i class="flaticon-social77"></i></a> </li>
                </ul>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
