
<div class="blog-post">
  <!-- Begin Nav
  ================================================== -->
  <nav class="navbar navbar-light bg-white fixed-top mediumnavigation">
  <div class="container">
  	<!-- Begin Logo -->
  	<a class="navbar-brand logo-image" href="/">
  	<img src="https://res.cloudinary.com/dzixj0ktk/image/upload/v1586318864/new_logo_1_ddwfkg.png" alt="Discount Deck logo">
  	</a>
  	<!-- End Logo -->
  </div>
  </nav>
  <!-- End Nav
  ================================================== -->

  <!-- Begin Site Title
  ================================================== -->
  <div class="container top-margin">
  	<div class="mainheading">
  		<h1 class="sitetitle">Blog</h1>
  	</div>
  <!-- End Site Title
  ================================================== -->

  <!-- Begin Featured
	================================================== -->
	<section class="featured-posts">
	<div class="section-title">
		<h2><span>Featured</span></h2>
	</div>
	<div class="card-columns listfeaturedtag">

		<!-- begin post -->
		<div class="card">
			<div class="row">
				<div class="col-md-5 wrapthumbnail">
					<a href="/blog/how_I_used_audience_intelligence_data_to_solve_what_came_first_the_chicken_or_the_egg">
						<div class="thumbnail" style="background-image:url(https://res.cloudinary.com/dzixj0ktk/image/upload/v1590445403/houston_tech_startup_solves_what_came_first_the_chicken_or_the_egg.png);">
						</div>
					</a>
				</div>
				<div class="col-md-7">
					<div class="card-block">
						<h2 class="card-title"><a href="/blog/how_I_used_audience_intelligence_data_to_solve_what_came_first_the_chicken_or_the_egg">How I used audience intelligence data to solve what came first the chicken or the egg?</a></h2>
						<h4 class="card-text">A strategy to solve the fundamental supply and demand problem faced by our marketplace startup.</h4>
						<div class="metafooter">
							<div class="wrapfooter">
								<span class="meta-footer-thumb">
								<a href="https://www.medium.com/@muhammadbaig"><img class="author-thumb" src="https://res.cloudinary.com/dzixj0ktk/image/upload/v1586458919/muhammad-blogpost-image_p91iwc.png" alt="The author, Muhammad Baig"></a>
								</span>
								<span class="author-meta">
								<span class="post-name"><a href="https://www.medium.com/@muhammadbaig">Muhammad Baig</a></span><br/>
								<span class="post-date">15 April 2020</span><span class="dot"></span><span class="post-read">6 min read</span>
								</span>
								<span class="post-read-more"><a href="/blog/houston_tech_startup_solves_what_came_first_the_chicken_or_the_egg" title="Read Story"><svg class="svgIcon-use" width="25" height="25" viewbox="0 0 25 25"><path d="M19 6c0-1.1-.9-2-2-2H8c-1.1 0-2 .9-2 2v14.66h.012c.01.103.045.204.12.285a.5.5 0 0 0 .706.03L12.5 16.85l5.662 4.126a.508.508 0 0 0 .708-.03.5.5 0 0 0 .118-.285H19V6zm-6.838 9.97L7 19.636V6c0-.55.45-1 1-1h9c.55 0 1 .45 1 1v13.637l-5.162-3.668a.49.49 0 0 0-.676 0z" fill-rule="evenodd"></path></svg></a></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- end post -->

	</div>
	</section>
	<!-- End Featured
	================================================== -->
</div>
