
<div class="blog-post">
  <!-- Begin Nav
  ================================================== -->
  <nav class="navbar navbar-light bg-white fixed-top mediumnavigation">
  <div class="container">
  	<!-- Begin Logo -->
  	<a class="navbar-brand logo-image" href="/">
  	<img src="https://res.cloudinary.com/dzixj0ktk/image/upload/v1586318864/new_logo_1_ddwfkg.png" alt="Discount Deck logo">
  	</a>
  	<!-- End Logo -->
  </div>
  </nav>
  <!-- End Nav
  ================================================== -->

  <!-- Begin Article
  ================================================== -->
  <div class="container top-margin">
  	<div class="row">

  		<!-- Begin Fixed Left Share -->
  		<div class="col-md-2 col-xs-12">
  			<div class="share">
  				<p>
  					Share
  				</p>
  				<ul>
  					<li>
  					<a target="_blank" href="https://twitter.com/intent/tweet?original_referer=https%3A%2F%2Fwww.discountdeck.com%2Fstrategy%2Fa-case-for-investment-in-discount-deck&ref_src=twsrc%5Etfw&text=How%20I%20used%20audience%20intelligence%20data%20to%20solve%20what%20came%20first%20the%20chicken%20or%20the%20egg?-&tw_p=tweetbutton&url=https%3A%2F%2Fwww.discountdeck.com%2Fa-case-for-investment-in-discount-deck&via=discountdeck" data-show-count="false">
    					<svg class="svgIcon-use" width="29" height="29" viewbox="0 0 29 29"><path d="M21.967 11.8c.018 5.93-4.607 11.18-11.177 11.18-2.172 0-4.25-.62-6.047-1.76l-.268.422-.038.5.186.013.168.012c.3.02.44.032.6.046 2.06-.026 3.95-.686 5.49-1.86l1.12-.85-1.4-.048c-1.57-.055-2.92-1.08-3.36-2.51l-.48.146-.05.5c.22.03.48.05.75.08.48-.02.87-.07 1.25-.15l2.33-.49-2.32-.49c-1.68-.35-2.91-1.83-2.91-3.55 0-.05 0-.01-.01.03l-.49-.1-.25.44c.63.36 1.35.57 2.07.58l1.7.04L7.4 13c-.978-.662-1.59-1.79-1.618-3.047a4.08 4.08 0 0 1 .524-1.8l-.825.07a12.188 12.188 0 0 0 8.81 4.515l.59.033-.06-.59v-.02c-.05-.43-.06-.63-.06-.87a3.617 3.617 0 0 1 6.27-2.45l.2.21.28-.06c1.01-.22 1.94-.59 2.73-1.09l-.75-.56c-.1.36-.04.89.12 1.36.23.68.58 1.13 1.17.85l-.21-.45-.42-.27c-.52.8-1.17 1.48-1.92 2L22 11l.016.28c.013.2.014.35 0 .52v.04zm.998.038c.018-.22.017-.417 0-.66l-.498.034.284.41a8.183 8.183 0 0 0 2.2-2.267l.97-1.48-1.6.755c.17-.08.3-.02.34.03a.914.914 0 0 1-.13-.292c-.1-.297-.13-.64-.1-.766l.36-1.254-1.1.695c-.69.438-1.51.764-2.41.963l.48.15a4.574 4.574 0 0 0-3.38-1.484 4.616 4.616 0 0 0-4.61 4.613c0 .29.02.51.08.984l.01.02.5-.06.03-.5c-3.17-.18-6.1-1.7-8.08-4.15l-.48-.56-.36.64c-.39.69-.62 1.48-.65 2.28.04 1.61.81 3.04 2.06 3.88l.3-.92c-.55-.02-1.11-.17-1.6-.45l-.59-.34-.14.67c-.02.08-.02.16 0 .24-.01 2.12 1.55 4.01 3.69 4.46l.1-.49-.1-.49c-.33.07-.67.12-1.03.14-.18-.02-.43-.05-.64-.07l-.76-.09.23.73c.57 1.84 2.29 3.14 4.28 3.21l-.28-.89a8.252 8.252 0 0 1-4.85 1.66c-.12-.01-.26-.02-.56-.05l-.17-.01-.18-.01L2.53 21l1.694 1.07a12.233 12.233 0 0 0 6.58 1.917c7.156 0 12.2-5.73 12.18-12.18l-.002.04z"></path></svg>
  					</a>

            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  					</li>
  					<li>
              <div id="fb-root"></div><script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v6.0"></script>

              <div data-href="https://www.discountdeck.com/a-case-for-investment-in-discount-deck" data-layout="button" data-size="small">
                <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.discountdeck.com%2Fa-case-for-investment-in-discount-deck&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">
        					<svg class="svgIcon-use" width="29" height="29" viewbox="0 0 29 29"><path d="M16.39 23.61v-5.808h1.846a.55.55 0 0 0 .546-.48l.36-2.797a.551.551 0 0 0-.547-.62H16.39V12.67c0-.67.12-.813.828-.813h1.474a.55.55 0 0 0 .55-.55V8.803a.55.55 0 0 0-.477-.545c-.436-.06-1.36-.116-2.22-.116-2.5 0-4.13 1.62-4.13 4.248v1.513H10.56a.551.551 0 0 0-.55.55v2.797c0 .304.248.55.55.55h1.855v5.76c-4.172-.96-7.215-4.7-7.215-9.1 0-5.17 4.17-9.36 9.31-9.36 5.14 0 9.31 4.19 9.31 9.36 0 4.48-3.155 8.27-7.43 9.15M14.51 4C8.76 4 4.1 8.684 4.1 14.46c0 5.162 3.75 9.523 8.778 10.32a.55.55 0 0 0 .637-.543v-6.985a.551.551 0 0 0-.55-.55H11.11v-1.697h1.855a.55.55 0 0 0 .55-.55v-2.063c0-2.02 1.136-3.148 3.03-3.148.567 0 1.156.027 1.597.06v1.453h-.924c-1.363 0-1.93.675-1.93 1.912v1.78c0 .3.247.55.55.55h2.132l-.218 1.69H15.84c-.305 0-.55.24-.55.55v7.02c0 .33.293.59.623.54 5.135-.7 9.007-5.11 9.007-10.36C24.92 8.68 20.26 4 14.51 4"></path></svg>
      					</a>
              </div>
  					</li>
  				</ul>
  				<div class="sep">
  				</div>
  			</div>
  		</div>
  		<!-- End Fixed Left Share -->


  		<!-- Begin Post -->
  		<div class="col-md-8 col-md-offset-2 col-xs-12">
  			<div class="mainheading">

  				<h1 class="posttitle">How to solve the fundamental supply and demand problem faced by marketplace startups: what came first the chicken or the egg?</h1>
          <h5 class="postsubtitle">How to build a go-to-market strategy using audience intelligence data</h5>

          <!-- Begin Top Meta -->
  				<div class="row post-top-meta">
  					<div class="col-md-12">
  						<a class="link-dark" href="https://www.medium.com/@muhammadbaig">Muhammad Baig</a>
              <span class="dot"></span>
  						<span class="post-date">15 April 2020</span>
              <span class="dot"></span>
              <span class="post-read">6 min read</span>
  					</div>
  				</div>
  				<!-- End Top Meta -->

  			</div>

  			<!-- Begin Featured Image -->
  			<img class="featured-image img-fluid" src="https://res.cloudinary.com/dzixj0ktk/image/upload/v1590445403/houston_tech_startup_solves_what_came_first_the_chicken_or_the_egg.png" alt="How a houston based mobile app startup found a solution to what came first the chicken or the egg">
  			<!-- End Featured Image -->

        <br>

  			<!-- Begin Post Content -->
  			<div class="article-post">
  				<p>
            Two years ago, I signed up for early access to a market research tool. I recently gained access and it turned out to be more useful than I expected. It enabled me to develop a clear solution for the supply and demand problem that Discount Deck<sup>TM</sup> needs to solve.
  				</p>

          <h2>Identify which side you will target first: supply or demand?</h2>
          <p>
            Discount Deck<sup>TM</sup> is a demand-sided marketplace and creating demand is the key to long-term success. In the short-term, it's critical to pay attention to what made the biggest marketplace companies like Amazon and Ebay successful. They focused on the supply side first, even though the branding and products were low quality. This early supply is what drove early demand. This made it clear to me that we needed to pursue the supply-side first. However, my methodology for identifying brands (supply-side) and influencers (demand-side) was not optimal. I needed to strengthen our go-to-market strategy and back it up with a source of credible data. Enter Sparktoro.
          </p>

          <h2>Use the latest tools to optimize your market research</h2>
          <p>
            <b>In March 2018, before the idea of Discount Deck&trade; was even in existence, I subscribed for early access to <a href="https://www.sparktoro.com" rel="nofolow">SparkToro</a>, an audience intelligence tool.</b> I had been following Rand Fishkin, one of the co-founders of Sparktoro and founder of <a href="https://www.moz.com" rel="nofollow">MOZ</a>, for a while, so I knew the service would be useful. At the time, I wasn’t sure how I would make use of it.
          </p>
          <!-- Begin Featured Image -->
    			<img class="featured-image img-fluid" src="https://res.cloudinary.com/dzixj0ktk/image/upload/v1586459425/Signup_for_Early_Access_SparkToro_jonknl.png" alt="image of subscription-confirmation email from Rand Fishkin for SparkToro">
    			<!-- End Featured Image -->
          <p>
            Two years later, I finally received my invite. It couldn’t have come at a better time.
          </p>
          <!-- Begin Featured Image -->
    			<img class="featured-image img-fluid" src="https://res.cloudinary.com/dzixj0ktk/image/upload/v1586459425/Early_Access_Access_Granted_SparkToro_l6jevn.png" alt="image of early-access email, two years later">
    			<!-- End Featured Image -->
          <p>
            By constantly striving to enhance my knowledge base, following industry leaders like Rand Fishkin and keeping track of new tools to enhance my projects, I was able to learn about SparkToro in its earliest stages. By the time I gained access, I had a use for it. I created this luck for my company. This would fall into “hustle until you stumble upon it” kind of luck. <a href="https://www.youtube.com/watch?v=fsoEbYSA9l4&t=55s">Naval Ravikant describes it as “creating numerous opportunities and generating momentum so that luck finds you”.</a> It might have seemed a small or even inconsequential effort when I signed up, but as the saying goes, success is the sum of small efforts.
          </p>
          <p>
            Back to my chicken-or-egg problem of who comes first: the influencers or the brands?
          </p>
          <h2>Use audience intelligence data to develop a go-to-market strategy</h2>

          <p>
            I used SparkToro to strengthen my go-to-market strategy with detailed data and analysis unavailable elsewhere. (Just FYI, I paid for my subscription.)
          </p>
          <p>
            I began with a list of brands I wanted to target for partnerships. For each brand on my list, I conducted four different searches to identify which influencers are followed by my audience and the consumers who would buy the products of brands who I wanted to partner with:
          </p>
          <ol>
            <li>My audience “frequently talks about” [brand]</li>
            <li>My audience “frequently uses the hashtag” [brand hashtag(s)]</li>
            <li>My audience “frequently visits the website” [brand website]</li>
            <li>My audience “frequently talks about” [brand username on twitter]</li>
          </ol>
          <p>
            This type of search capability is exactly what I needed to measure the impact of influencers, and not just identify the influencers themselves. I also needed to demonstrate how these specific influencers tied back to the brands I want to target. I planned to use this data to convince brands of why the demand I am creating has a high probability of being directly beneficial to them. In short, the influencers in my launch campaign have followers who are already interested in their brand.
          </p>
          <p>
            One of the brands I want to work with someday is Nike, so I will use them as a case study.
          </p>

          <h3>First search: My audience “frequently talks about” Nike</h3>
          <p>
            I also made sure to select the “United States of America” as the location for my audience. Because we’re launching in the US. I did this for all searches.
          </p>
          <!-- Begin Featured Image -->
    			<img class="featured-image img-fluid" src="https://res.cloudinary.com/dzixj0ktk/image/upload/v1586459424/First_Search_Nike_peefue.png" alt="image of the first search using Nike on SparkToro">
    			<!-- End Featured Image -->
          <p>
            The result was 180,592 sources who frequently talk about Nike and are located in the United States of America. They all follow and amplify the list of social media accounts generated. Keep in mind, the SparkToro database has around 70 million profiles, so it doesn’t include every social media user on the planet yet. As the database grows, it is going to become more and more powerful as a research tool.
          </p>
          <p>
            The percent-of-audience column shows how many people in SparkToro’s database mention your search term on one or more of 10 networks (Facebook, Github, Instagram, Linkedin, Medium, Pinterest, Reddit, Twitter, Vimeo, YouTube). This was the high-value data I was looking for. The proprietary Sparkscore is useful because it grades the relative engagement a social account receives compared to its size. This means that it estimates the amount of followers a social account will reach when it posts on that account.
          </p>
          <blockquote>
  					It’s worth remembering that the engagement rate is more important than reach alone.
  				</blockquote>
          <p>
            The tool provides a detailed breakdown of how it is calculated for each profile you highlight.
          </p>
          <!-- Begin Featured Image -->
    			<img class="featured-image img-fluid" src="https://res.cloudinary.com/dzixj0ktk/image/upload/v1586459425/SparkScore_Screen_1_k3f3lu.png" alt="image of Lebron James's profile on SparkToro">
    			<!-- End Featured Image -->
          <!-- Begin Featured Image -->
    			<img class="featured-image img-fluid" src="https://res.cloudinary.com/dzixj0ktk/image/upload/v1586459425/SparkScore_Screen_2_ri1yfq.png" alt="image of Lebron James's SparkScore breakdown on SparkToro">
    			<!-- End Featured Image -->
          <p>
            It’s worth remembering that the engagement rate is more important than reach alone. SparkToro also calculates an engagement score. Along with the SparkScore, this can be used to rank selected influencers.
          </p>
          <!-- Begin Featured Image -->
    			<img class="featured-image img-fluid" src="https://res.cloudinary.com/dzixj0ktk/image/upload/v1586459751/SparkScore_Screen_4_p4vqyh.png" alt="image of Lebron James's engagements breakdown on SparkToro">
    			<!-- End Featured Image -->

          <h3>Second search: My audience “frequently uses the hashtag” #Nike</h3>
          <!-- Begin Featured Image -->
    			<img class="featured-image img-fluid" src="https://res.cloudinary.com/dzixj0ktk/image/upload/v1586459425/Second_Search_Nike_xvepvc.png" alt="image of the second search using Nike on SparkToro">
    			<!-- End Featured Image -->

          <h3>Third search: My audience “Frequently visits the website” www.nike.com</h3>
          <!-- Begin Featured Image -->
    			<img class="featured-image img-fluid" src="https://res.cloudinary.com/dzixj0ktk/image/upload/v1586459425/Third_Search_Nike_lqmq1x.png" alt="image of the third search using Nike on SparkToro">
    			<!-- End Featured Image -->

          <h3>Fourth search: My audience “Frequently talks about” @Nike</h3>
          <!-- Begin Featured Image -->
    			<img class="featured-image img-fluid" src="https://res.cloudinary.com/dzixj0ktk/image/upload/v1586459424/Fourth_Search_Nike_b3h2g9.png" alt="image of the fourth search using on SparkToro">
    			<!-- End Featured Image -->
          <p>
            This fourth search was critical because people will most often use a brand’s social media handle when mentioning the brand in posts.
          </p>
          <p>
            Once I gathered the data, I cleaned it and performed an analysis (which I won’t detail in this post) for each brand I want to target. The results were magnificent. There were influencers who ranked high, and who you would expect to rank high because, for example, they are athletes sponsored by that brand. <b>I also found influencers ranking even higher than some of these sponsored athletes, who never would have crossed my mind as ideal influencers for Discount Deck&trade;.</b>
          </p>
          <p>
            The next step for me was to identify other brands that my audience was also interested in, so that I could curate a secondary list of brands to target. I was able to quickly create lists of these adjacent brands. I used this data to create a graph of primary and secondary brands to target.
          </p>
          <!-- Begin Featured Image -->
    			<img class="featured-image img-fluid" src="https://res.cloudinary.com/dzixj0ktk/image/upload/v1586459424/Creating_a_secondary_list_of_brands_to_target_imif9u.png" alt="image of the list-creation functionality on SparkToro">
    			<!-- End Featured Image -->
          <p>
          </p>
          <p>
            One feature I believe would be very useful on SparkToro is a column for sentiment analysis. I had to assume whether the audiences had a positive or negative opinion of Nike. A sentiment analysis column would make it easier to confirm which influencers to work with and which other brands Nike’s audience is also interested in.
          </p>
          <p>
            With this data in hand, I was able to formulate a clear and concise methodology to solving the chicken-or-the-egg problem that Discount Deck&trade; faces: who comes first, the influencers or the brands?
          </p>
          <hr>
          <p>
            Want to know when the app is ready for download? Submit your email here and we’ll let you know!
          </p>
          <!-- Begin Email Submission Box -->
          <form class="form-inline" id="email-form">
            <input type="email" name="email-input" id="email-input" class="input-solid-lg form-input" placeholder="Email Address" autocomplete="off">
            <button type="submit" id="email-submit" class="btn-solid-lg form-button">Submit</button>
          </form>
          <!-- End Email Submimssion Box -->
          <br>
  			</div>
  			<!-- End Post Content -->

  			<!-- Begin Tags -->
  			<div class="after-post-tags">
  				<ul class="tags">
  					<li>Entrepreneur</li>
  					<li>Growth Mindset</li>
  					<li>Productivity</li>
  					<li>Personal Growth</li>
  					<li>Startup</li>
  					<li>SparkToro</li>
  					<li>MOZ</li>
  				</ul>
  			</div>
  			<!-- End Tags -->

        <!-- Begin Top Meta -->
        <div class="row post-top-meta">
          <div class="col-md-2">
            <a href="https://www.medium.com/@muhammadbaig"><img class="author-thumb" src="https://res.cloudinary.com/dzixj0ktk/image/upload/v1586458919/muhammad-blogpost-image_p91iwc.png" alt="The author, Muhammad Baig"></a>
          </div>
          <div class="col-md-10">
            <a class="link-dark" href="https://www.medium.com/@muhammadbaig">Muhammad Baig</a>
            <span class="author-description">
              Founder and CEO of <b>Discount Deck&trade;</b>. His goal is to create a source of wealth for as many people as possible by turning their stranded social influence into income generating assets. Connect with him here:
              <br>
              <span class="author-social">
                <a href="https://www.twitter.com/mdotbaig" target="_blank">
                  <i class="fab fa-twitter fa-2x"></i>
                </a>
                &nbsp;
                <a href="https://www.instagram.com/mdotbaig" target="_blank">
                  <i class="fab fa-instagram fa-2x"></i>
                </a>
                &nbsp;
                <a href="https://www.medium.com/@muhammadbaig" target="_blank">
                  <i class="fab fa-medium fa-2x"></i>
                </a>
              </span>
              <br>
            </span>
          </div>
        </div>
        <!-- End Top Meta -->

  		</div>
  		<!-- End Post -->

  	</div>
  </div>
  <!-- End Article
  ================================================== -->
</div>
