<header>
  <!-- LOGO -->
  <div id="logo">
    <img src="https://res-console.cloudinary.com/dzixj0ktk/thumbnails/transform/v1/image/upload//v1574325279/bG9nby10cmFuc3BhcmVudC1ob3Jpem9udGFsX3pqZ21tbw==/drilldown" alt="discount-deck-logo">
  </div>
  <!-- END LOGO -->

  <!-- HEADER NAV -->
  <div class="header-nav">
    <ul>
      <li>
        <a href="#0" class="r-link ai-element ai-element_type1 ai-element4">
				      <span class="ai-element__label"><strong class="flaticon-group2"></strong> Influencer Directory</span>
			  </a>
      </li>
    </ul>
  </div>
  <!-- END HEADER NAV -->
</header>

<main>
  <h1>Coming soon.</h1>
</main>

<!-- SOCIAL ICONS -->
<div id="social-icons">
    <ul>
        <li><a href="https://www.twitter.com/discountdeck"><i class="flaticon-social19"></i></a> </li>
        <li><a href="https://www.instagram.com/discountdeck"><i class="flaticon-social77"></i></a> </li>
    </ul>
</div>
<!-- END SOCIAL ICONS -->
