<header id="header">
  <img id="main-logo" src="https://res.cloudinary.com/dzixj0ktk/image/upload/v1574325279/logo-transparent-horizontal_zjgmmo.png" alt="discount-deck-logo">
  <nav class="top-nav">
    <a class="nav-btn" href="#">
      <span><i class="flaticon-group2"></i> Influencer Directory</span>
    </a>
  </nav>
</header>

<section id="main-cta">
  <h1 class="main-text">Discounts from your favorite brands that you won't find anywhere else.</h1>
  <p class="sub-text">Submit your email and we'll let you know when the app launches.</p>
  <form class="form-inline" id="email-form">
		<input type="email" name="email-input" id="email-input" class="form-input" placeholder="Email Address" autocomplete="off">
		<button type="submit" id="email-submit" class="form-button">Submit</button>
  </form>
</section>

<section id="main-screenshots">
  <img class="main-img" src="https://res.cloudinary.com/dzixj0ktk/image/upload/v1575168575/phone-dd-front_rkph0u.png" alt="app-screenshot-on-iphone-11-pro">
</section>

<footer id="footer">
  <ul class="social-icons">
      <li class="social-icon"><a href="https://www.twitter.com/discountdeck"><i class="flaticon-social19"></i></a> </li>
      <li class="social-icon"><a href="https://www.instagram.com/discountdeck"><i class="flaticon-social77"></i></a> </li>
  </ul>
</footer>
