<header id="header">
  <img id="main-logo" src="https://res.cloudinary.com/dzixj0ktk/image/upload/v1574325279/logo-transparent-horizontal_zjgmmo.png" alt="discount-deck-logo">
  <nav class="top-nav">
    <a class="nav-btn" href="#">
      <span><i class="flaticon-group2"></i> Influencer Directory</span>
    </a>
  </nav>
</header>

<section id="main-cta">
  <h1 class="main-text">Coming Soon.</h1>
</section>

<section id="main-screenshots">
  <img class="main-img" src="https://res.cloudinary.com/dzixj0ktk/image/upload/q_65/v1574897757/dd-iphone-frontpage_eywra6.png" alt="app-screenshot-on-iphone-11-pro">
</section>

<footer id="footer">
  <ul class="social-icons">
      <li class="social-icon"><a href="https://www.twitter.com/discountdeck"><i class="flaticon-social19"></i></a> </li>
      <li class="social-icon"><a href="https://www.instagram.com/discountdeck"><i class="flaticon-social77"></i></a> </li>
  </ul>
</footer>
