      <div lang="en" style="max-width: 650px; margin-left:auto; margin-right:auto;">
          <div class="coupon image1" style="height:0; margin-top:5%; padding-bottom:75%;">
            <a class="mobile-click" href="#discount" tabindex="-1">
              <div class="discount" style="background-color:black; opacity:0; padding-bottom:75%;">
                <p class="discount-amount" style="color: white; text-align: center; padding-top: 40%; padding-left: 10%; padding-right: 10%; font-size: 350%; margin:0;">42% off</p>
                <p class="product-name" style="color: white; text-align: center; font-size: 150%; margin-bottom: 25%;">Mixed Meshages Jacket (Ivory)</p>
                <a href="https://www.shopkosmios.com/collections/sale/products/mixed-meshages-jacket-ivory" class="discount-button" style="border: 2px white solid; text-decoration:none; color:white; padding:3% 10%; font-size:175%; margin-left:14%;">Use Discount</a>
              </div>
            </a>
          </div>
          <div class="coupon image2" style="height:0; margin-top:15%; padding-bottom:75%;">
            <a class="mobile-click" href="#discount" tabindex="-1">
              <div class="discount" style="background-color:black; opacity:0; padding-bottom:75%;">
                <p class="discount-amount" style="color: white; text-align: center; padding-top: 40%; padding-left: 10%; padding-right: 10%; font-size: 350%; margin:0;">40% off</p>
                <p class="product-name" style="color: white; text-align: center; font-size: 150%; margin-bottom: 25%;">You Sure Are Shearling Jacket</p>
                <a href="https://www.shopkosmios.com/collections/sale/products/you-sure-are-shearling-jacket" class="discount-button" style="border: 2px white solid; text-decoration:none; color:white; padding:3% 10%; font-size:175%; margin-left:14%;">Use Discount</a>
              </div>
            </a>
          </div>
          <div class="coupon image3" style="height:0; margin-top:-5%; padding-bottom:75%;">
            <a class="mobile-click" href="#discount" tabindex="-1">
              <div class="discount" style="background-color:black; opacity:0; padding-bottom:75%;">
                <p class="discount-amount" style="color: white; text-align: center; padding-top: 40%; padding-left: 10%; padding-right: 10%; font-size: 350%; margin:0;">40% off</p>
                <p class="product-name" style="color: white; text-align: center; font-size: 150%; margin-bottom: 25%;">Examine Yourself Jeans</p>
                <a href="https://www.shopkosmios.com/collections/sale/products/examine-yourself-jeans" class="discount-button" style="border: 2px white solid; text-decoration:none; color:white; padding:3% 10%; font-size:175%; margin-left:14%;">Use Discount</a>
              </div>
            </a>
          </div>
          <div class="coupon image4" style="height:0; margin-top:5%; padding-bottom:75%;">
            <a class="mobile-click" href="#discount" tabindex="-1">
              <div class="discount" style="background-color:black; opacity:0; padding-bottom:75%;">
                <p class="discount-amount" style="color: white; text-align: center; padding-top: 40%; padding-left: 10%; padding-right: 10%; font-size: 350%; margin:0;">70% off</p>
                <p class="product-name" style="color: white; text-align: center; font-size: 150%; margin-bottom: 25%;">Flower To The People Pants</p>
                <a href="https://www.shopkosmios.com/collections/sale/products/flower-to-the-people-pants-mint" class="discount-button" style="border: 2px white solid; text-decoration:none; color:white; padding:3% 10%; font-size:175%; margin-left:14%;">Use Discount</a>
              </div>
            </a>
          </div>
          <div class="coupon image5" style="height:0; margin-top:-5%; padding-bottom:75%;">
            <a class="mobile-click" href="#discount" tabindex="-1">
              <div class="discount" style="background-color:black; opacity:0; padding-bottom:75%;">
                <p class="discount-amount" style="color: white; text-align: center; padding-top: 40%; padding-left: 10%; padding-right: 10%; font-size: 350%; margin:0;">63% off</p>
                <p class="product-name" style="color: white; text-align: center; font-size: 150%; margin-bottom: 25%;">Seeing Things Clearly Heels</p>
                <a href="https://www.shopkosmios.com/collections/sale/products/seeing-things-clearly-heels-black" class="discount-button" style="border: 2px white solid; text-decoration:none; color:white; padding:3% 10%; font-size:175%; margin-left:14%;">Use Discount</a>
              </div>
            </a>
          </div>
          <div class="coupon image6" style="height:0; margin-top:5%; padding-bottom:75%;">
            <a class="mobile-click" href="#discount" tabindex="-1">
              <div class="discount" style="background-color:black; opacity:0; padding-bottom:75%;">
                <p class="discount-amount" style="color: white; text-align: center; padding-top: 40%; padding-left: 10%; padding-right: 10%; font-size: 350%; margin:0;">42% off</p>
                <p class="product-name" style="color: white; text-align: center; font-size: 150%; margin-bottom: 25%;">Mixed Meshages Jacket</p>
                <a href="https://www.shopkosmios.com/collections/sale/products/mixed-meshages-jacket-black" class="discount-button" style="border: 2px white solid; text-decoration:none; color:white; padding:3% 10%; font-size:175%; margin-left:14%;">Use Discount</a>
              </div>
            </a>
          </div>
          <div class="coupon image7" style="height:0; margin-top:-5%; padding-bottom:75%;">
            <a class="mobile-click" href="#discount" tabindex="-1">
              <div class="discount" style="background-color:black; opacity:0; padding-bottom:75%;">
                <p class="discount-amount" style="color: white; text-align: center; padding-top: 40%; padding-left: 10%; padding-right: 10%; font-size: 350%; margin:0;">26% off</p>
                <p class="product-name" style="color: white; text-align: center; font-size: 150%; margin-bottom: 25%;">The Ricci Oversized Retro Square Sunglasses</p>
                <a href="https://www.shopkosmios.com/collections/sale/products/vv-the-ricci-retro-square-sunglasses" class="discount-button" style="border: 2px white solid; text-decoration:none; color:white; padding:3% 10%; font-size:175%; margin-left:14%;">Use Discount</a>
              </div>
            </a>
          </div>
          <div class="coupon image8" style="height:0; margin-top:5%; padding-bottom:75%;">
            <a class="mobile-click" href="#discount" tabindex="-1">
              <div class="discount" style="background-color:black; opacity:0; padding-bottom:75%;">
                <p class="discount-amount" style="color: white; text-align: center; padding-top: 40%; padding-left: 10%; padding-right: 10%; font-size: 350%; margin:0;">68% off</p>
                <p class="product-name" style="color: white; text-align: center; font-size: 150%; margin-bottom: 25%;">Mod & Posh Top</p>
                <a href="https://www.shopkosmios.com/collections/sale/products/mod-posh-top-black" class="discount-button" style="border: 2px white solid; text-decoration:none; color:white; padding:3% 10%; font-size:175%; margin-left:14%;">Use Discount</a>
              </div>
            </a>
          </div>
          <div class="coupon image9" style="height:0; margin-top:-5%; padding-bottom:75%;">
            <a class="mobile-click" href="#discount" tabindex="-1">
              <div class="discount" style="background-color:black; opacity:0; padding-bottom:75%;">
                <p class="discount-amount" style="color: white; text-align: center; padding-top: 40%; padding-left: 10%; padding-right: 10%; font-size: 350%; margin:0;">51% off</p>
                <p class="product-name" style="color: white; text-align: center; font-size: 150%; margin-bottom: 25%;">Its A Strap Heels</p>
                <a href="https://www.shopkosmios.com/collections/sale/products/its-a-strap-heels-mauve" class="discount-button" style="border: 2px white solid; text-decoration:none; color:white; padding:3% 10%; font-size:175%; margin-left:14%;">Use Discount</a>
              </div>
            </a>
          </div>
          <div class="coupon image10" style="height:0; margin-top:5%; padding-bottom:75%;">
            <a class="mobile-click" href="#discount" tabindex="-1">
              <div class="discount" style="background-color:black; opacity:0; padding-bottom:75%;">
                <p class="discount-amount" style="color: white; text-align: center; padding-top: 40%; padding-left: 10%; padding-right: 10%; font-size: 350%; margin:0;">65% off</p>
                <p class="product-name" style="color: white; text-align: center; font-size: 150%; margin-bottom: 25%;">Ball Over It Heels</p>
                <a href="https://www.shopkosmios.com/collections/sale/products/ball-over-it-heels-black" class="discount-button" style="border: 2px white solid; text-decoration:none; color:white; padding:3% 10%; font-size:175%; margin-left:14%;">Use Discount</a>
              </div>
            </a>
          </div>
          <div class="coupon image11" style="height:0; margin-top:-5%; padding-bottom:75%;">
            <a class="mobile-click" href="#discount" tabindex="-1">
              <div class="discount" style="background-color:black; opacity:0; padding-bottom:75%;">
                <p class="discount-amount" style="color: white; text-align: center; padding-top: 40%; padding-left: 10%; padding-right: 10%; font-size: 350%; margin:0;">49% off</p>
                <p class="product-name" style="color: white; text-align: center; font-size: 150%; margin-bottom: 25%;">Madame Coco Jeans</p>
                <a href="https://www.shopkosmios.com/collections/sale/products/madame-coco-jeans" class="discount-button" style="border: 2px white solid; text-decoration:none; color:white; padding:3% 10%; font-size:175%; margin-left:14%;">Use Discount</a>
              </div>
            </a>
          </div>
          <div class="coupon image12" style="height:0; margin-top:5%; padding-bottom:75%;">
            <a class="mobile-click" href="#discount" tabindex="-1">
              <div class="discount" style="background-color:black; opacity:0; padding-bottom:75%;">
                <p class="discount-amount" style="color: white; text-align: center; padding-top: 40%; padding-left: 10%; padding-right: 10%; font-size: 350%; margin:0;">39% off</p>
                <p class="product-name" style="color: white; text-align: center; font-size: 150%; margin-bottom: 25%;">Dont Mesh Around Top</p>
                <a href="https://www.shopkosmios.com/collections/sale/products/dont-mesh-around-top-green" class="discount-button" style="border: 2px white solid; text-decoration:none; color:white; padding:3% 10%; font-size:175%; margin-left:14%;">Use Discount</a>
              </div>
            </a>
          </div>
          <div class="coupon image13" style="height:0; margin-top:-5%; padding-bottom:75%;">
            <a class="mobile-click" href="#discount" tabindex="-1">
              <div class="discount" style="background-color:black; opacity:0; padding-bottom:75%;">
                <p class="discount-amount" style="color: white; text-align: center; padding-top: 40%; padding-left: 10%; padding-right: 10%; font-size: 350%; margin:0;">42% off</p>
                <p class="product-name" style="color: white; text-align: center; font-size: 150%; margin-bottom: 25%;">Gold Streak Jeans</p>
                <a href="https://www.shopkosmios.com/collections/sale/products/gold-streak-jeans" class="discount-button" style="border: 2px white solid; text-decoration:none; color:white; padding:3% 10%; font-size:175%; margin-left:14%;">Use Discount</a>
              </div>
            </a>
          </div>
          <div class="coupon image14" style="height:0; margin-top:5%; padding-bottom:75%;">
            <a class="mobile-click" href="#discount" tabindex="-1">
              <div class="discount" style="background-color:black; opacity:0; padding-bottom:75%;">
                <p class="discount-amount" style="color: white; text-align: center; padding-top: 40%; padding-left: 10%; padding-right: 10%; font-size: 350%; margin:0;">28% off</p>
                <p class="product-name" style="color: white; text-align: center; font-size: 150%; margin-bottom: 25%;">The Milani Rounded Mirror Sunglasses</p>
                <a href="https://www.shopkosmios.com/collections/sale/products/vv-the-milani-ice-blue-rounded-mirror-sunglasses" class="discount-button" style="border: 2px white solid; text-decoration:none; color:white; padding:3% 10%; font-size:175%; margin-left:14%;">Use Discount</a>
              </div>
            </a>
          </div>
          <div class="coupon image15" style="height:0; margin-top:-5%; padding-bottom:75%;">
            <a class="mobile-click" href="#discount" tabindex="-1">
              <div class="discount" style="background-color:black; opacity:0; padding-bottom:75%;">
                <p class="discount-amount" style="color: white; text-align: center; padding-top: 40%; padding-left: 10%; padding-right: 10%; font-size: 350%; margin:0;">30% off</p>
                <p class="product-name" style="color: white; text-align: center; font-size: 150%; margin-bottom: 25%;">Sesame Street In The Pleat Skirt</p>
                <a href="https://www.shopkosmios.com/collections/sale/products/sesame-street-in-the-pleat-skirt-blue" class="discount-button" style="border: 2px white solid; text-decoration:none; color:white; padding:3% 10%; font-size:175%; margin-left:14%;">Use Discount</a>
              </div>
            </a>
          </div>
          <div class="coupon image16" style="height:0; margin-top:5%; padding-bottom:75%;">
            <a class="mobile-click" href="#discount" tabindex="-1">
              <div class="discount" style="background-color:black; opacity:0; padding-bottom:75%;">
                <p class="discount-amount" style="color: white; text-align: center; padding-top: 40%; padding-left: 10%; padding-right: 10%; font-size: 350%; margin:0;">39% off</p>
                <p class="product-name" style="color: white; text-align: center; font-size: 150%; margin-bottom: 25%;">Miami Living Skirt</p>
                <a href="https://www.shopkosmios.com/collections/sale/products/miami-living-skirt-yellow" class="discount-button" style="border: 2px white solid; text-decoration:none; color:white; padding:3% 10%; font-size:175%; margin-left:14%;">Use Discount</a>
              </div>
            </a>
          </div>
    </div>
