/*app store buttons*/

// .appstore {
//     background: url(../images/appstore.png);
//     height: 21px;
//     width: 17px;
//     margin-top: 2px;
//     float: left;
// }
// .appstore-button:hover .appstore { background: url(../images/appstore2.png) }
// .playstore {
//     background: url(../images/playstore.png);
//     height: 20px;
//     width: 17px;
//     margin-top: 2px;
//     float: left;
// }
// .playstore-button:hover .playstore { background: url(../images/playstore2.png) }


body, html {
  height: 100%;
  width: 100vw;
}

a {
  text-decoration: none;
  color: white;
}

body {
  background: url("https://res.cloudinary.com/dzixj0ktk/image/upload/v1574326264/bg_ui2ssb.svg");
  background-size: cover;
  margin: 0;
  padding: 0;

  font-family: "Montserrat";

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 10% 85% 5%;
  grid-template-areas:
    "header header"
    "maincta mainscreenshots"
    "footer footer";
}

#header {
  grid-area: header;

  margin-top: 1%;
  margin-left: 2%;
  margin-right: 2%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  #main-logo {
    max-width: 375px;
  }

  .nav-btn {
    padding: 10px 15px;

    color: white;
    border: 2px white solid;
    border-radius: 7.5px;

    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;

    i {
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-align: center;
      line-height: 27px;
      text-transform: none;
      -webkit-font-smoothing: antialiased;
    }

    &:hover {
      border: 2px solid #1b646f;
      color: #1b646f;
    }
  }

}
#main-cta {
  grid-area: maincta;

  margin-left: 2%;

  display: flex;
  justify-content: center;
  align-items: center;

  .main-text {
    color: white;
    font-size: 50px;
    font-weight: 700;
    line-height: 1.2;

    text-shadow: 0px 10px 5px rgba(0,0,0,0.1),
                 10px 15px 5px rgba(0,0,0,0.05),
                 -10px 15px 5px rgba(0,0,0,0.05);
  }
}
#main-screenshots {
  grid-area: mainscreenshots;

  margin-right: 2%;

  display: flex;
  justify-content: center;
  align-items: center;

  .main-img {
    width: 52.5%;
  }
}
#footer {
  grid-area: footer;

  margin-left: 2%;
  margin-right: 2%;

  .social-icons {
    list-style-type: none;

    margin: 0;
    padding: 0;

    .social-icon {
      list-style-type: none;
      display: inline-block;

      width: 24px;
      height: 24px;

      margin-right: 5px;

      a {

        font-size: 28px;
        color: #fff;
        text-decoration: none;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;

        i {
          font-style: normal;
          font-weight: normal;
          opacity: 1;
          display: block;
          font-variant: normal;
          font-size: 13px;
          border: 1px solid #fff;
          border-radius: 4px;
          width: 24px;
          height: 24px;
          text-align: center;
          line-height: 27px;
          text-transform: none;
          -webkit-font-smoothing: antialiased;
          -webkit-transition: 0.3s;
          -o-transition: 0.3s;
          transition: 0.3s;

          &:hover {
            border: 1px solid #1b646f;
            color: #1b646f;
          }
        }
      }
    }
  }
}
