<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Kosmios' Deck</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <style>
      a {
        text-decoration: none;
      }
      .coupon {
        width:46%;
        /* height: 525px; */
        margin:2% 2%;
        overflow:hidden;
        float:left;
        border-radius: 25px;
        box-shadow: 0px 6px 6px 1px rgba(0,0,0,0.2);
        /* padding-top: 75%; */
      }
      .image1 {
        background-image: url("https://res.cloudinary.com/dzixj0ktk/image/upload/v1565074812/2_d6o5q3.jpg");
        background-repeat: none;
        background-size: cover;
      }
      .image2 {
        background-image: url("https://res.cloudinary.com/dzixj0ktk/image/upload/v1565074811/9_ru3pru.jpg");
        background-repeat: none;
        background-size: cover;
      }
      .image3 {
        background-image: url("https://res.cloudinary.com/dzixj0ktk/image/upload/v1565074811/16_v48ykq.jpg");
        background-repeat: none;
        background-size: cover;
      }
      .image4 {
        background-image: url("https://res.cloudinary.com/dzixj0ktk/image/upload/v1565074811/15_nlhyzw.jpg");
        background-repeat: none;
        background-size: cover;
      }
      .image5 {
        background-image: url("https://res.cloudinary.com/dzixj0ktk/image/upload/v1565074811/13_fwqiu8.jpg");
        background-repeat: none;
        background-size: cover;
      }
      .image6 {
        background-image: url("https://res.cloudinary.com/dzixj0ktk/image/upload/v1565074810/1_hvoyir.jpg");
        background-repeat: none;
        background-size: cover;
      }
      .image7 {
        background-image: url("https://res.cloudinary.com/dzixj0ktk/image/upload/v1565074811/10_xqzxyh.jpg");
        background-repeat: none;
        background-size: cover;
      }
      .image8 {
        background-image: url("https://res.cloudinary.com/dzixj0ktk/image/upload/v1565074811/8_szkc0c.jpg");
        background-repeat: none;
        background-size: cover;
      }
      .image9 {
        background-image: url("https://res.cloudinary.com/dzixj0ktk/image/upload/v1565074811/12_ebog42.jpg");
        background-repeat: none;
        background-size: cover;
      }
      .image10 {
        background-image: url("https://res.cloudinary.com/dzixj0ktk/image/upload/v1565074811/14_xuaxje.jpg");
        background-repeat: none;
        background-size: cover;
      }
      .image11 {
        background-image: url("https://res.cloudinary.com/dzixj0ktk/image/upload/v1565074810/6_svkdon.jpg");
        background-repeat: none;
        background-size: cover;
      }
      .image12 {
        background-image: url("https://res.cloudinary.com/dzixj0ktk/image/upload/v1565074810/3_wry51h.jpg");
        background-repeat: none;
        background-size: cover;
      }
      .image13 {
        background-image: url("https://res.cloudinary.com/dzixj0ktk/image/upload/v1565074810/7_iasmv0.jpg");
        background-repeat: none;
        background-size: cover;
      }
      .image14 {
        background-image: url("https://res.cloudinary.com/dzixj0ktk/image/upload/v1565074811/11_jervip.jpg");
        background-repeat: none;
        background-size: cover;
      }
      .image15 {
        background-image: url("https://res.cloudinary.com/dzixj0ktk/image/upload/v1565074810/5_au5qur.jpg");
        background-repeat: none;
        background-size: cover;
      }
      .image16 {
        background-image: url("https://res.cloudinary.com/dzixj0ktk/image/upload/v1565074810/4_vcgrzm.jpg");
        background-repeat: none;
        background-size: cover;
      }
      .discount:hover, .discount:active, .mobile-cick:active .discount {
        opacity: 0.6!important;
      }
      /* .discount a {
        display: none;
      }
      .discount:hover a, .discount:active a, .mobile-click:active a  {
        display: inline;
      } */
      .product-name {
        padding-left: 5%;
        padding-right: 5%;
      }
      @media screen and (max-width: 500px) {
        .discount-amount {
          font-size: 235%!important;
        }
        .product-name {
          font-size: 115%!important;
        }
        .discount-button {
          font-size: 95%!important;
        }
      }
    </style>
  </head>
  <body data-turbolinks="false">
    <%= yield %>
  </body>
